.password_field_container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
}

.validations_list {
  list-style: none;
}

.validations_list_item {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin: 10px 0;
}

.validator_image {
  width: 30px;
  height: 30px;
}
